.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 24px;
  flex-wrap: wrap;
}
.card {
  box-shadow: 4px -2px 40px 9px rgba(128, 128, 128, 0.625);
  background-color: #e1f9e3;
  width: 20vw;
  height: auto;
  border-radius: 12px;
}
section div div {
  display: flex;

  width: 20vw;
  justify-content: space-around;
}
section div h4 {
  background-color: rgb(140, 194, 140);
  padding: 12px;
  margin: 0px;
  border-radius: 12px;
  text-align: center;
}
